/* || VARIABLES */
:root {
    /* COLORS - Coffeehouse theme*/
    --HEADER-BGCOLOR: #1A120B;
    --HEADER-H1-BGCOLOR: #A27B5C;

    --NAV--LINK-COLOR: #F8ECD1;
    --NAV--LINK-BORDER-BOTTOM: #F8ECD1;
    --NAV--LINK-HOVER: #A27B5C;
  
    --HERO-H2-BGCOLOR: #F8ECD1;
    --HERO-H2-COLOR: #31343d;

    --SECTION-H2-COLOR: #3c2a21;
    --SECTION-BORDER: #1A120B;
  
    --PORTFOLIO-LINK-COLOR: #31343d;
    --IMAGE-BORDER: #1A120B;
    --FIGURE-CAPTION: #F8ECD1;
  
    --BOTTOM-LINK-COLOR: #1A120B;
    --BOTTOM-LINK-HOVER: #F8ECD1; 
  
    /* FONTS */
    --BODY-FONT-FAMILY: "Calluna", "Acumin", "Plantin", "Sabon", arial, sans-serif;
  }

  html {
    /* sets the behavior for a scrolling box when scrolling is triggered by the navigation */
    scroll-behavior: smooth;
    height: auto;
  }
  
  body {
    font-family: var(--BODY-FONT-FAMILY);
    line-height: 1.4;
  }
  
  /* Use Flexbox to create a header */
  header {
    background-color: var(--HEADER-BGCOLOR);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1%;
  }
  
  header h1 {
    background-color: var(--HEADER-H1-BGCOLOR);
    font-size: 25px;
    line-height: normal;
    padding: 0 0 0;
  }
  
  header h1 a {
    text-decoration: none;
    color: #1A120B;
  
  }
  header nav {
    padding-right: 5%;
  }
  
  /* set topNav links to flex items */
  .topNav {
    display: flex;
  }
  
  .topNav li {
    padding: 10px;
  }
  
  .topNav a {
    color: var(--NAV--LINK-COLOR);
    font-size: 15px;
    text-decoration: none;
    padding: 5px 10px;
    border-bottom: 4px solid var(--NAV--LINK-BORDER-BOTTOM);
  }
  
  /* changed the color and shadow on hover for topNav */
  .topNav a:hover {
    -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    background-color: var(--NAV--LINK-HOVER);
  }
  
  /* changed the color and shadow on hover for bottomNav   */
  .bottomNav a:hover {
    -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    /* border-radius: 50px; */
    /* padding: 7px; */
    background-color: var(--BOTTOM-LINK-HOVER);
  }
  /* Main container as grid makes two columns*/
  .container {
    width: 90%;
    padding-bottom: 120px;
    margin: 100px auto 100px auto;
    display: grid;
    grid-template-columns: 15% 75%;
    gap: 4%;
  }
  
  .page-section {
    border-right: 4px solid var(--SECTION-BORDER);
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
  }
  
  .profile {
    width: 10%;
    border: 5px solid var(--IMAGE-BORDER);
    float: right;
    margin: 0 0 0 10px;
  
  }
  
  /* Second grid - portfolio grid for work section  */
  #portfolio {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300 300px 300px;
    grid-template-areas:
      "p0 p0"
      "p1 p2"
      "p3 p4";
    gap: 20px;
  }
  
  #portfolio a {
    color: var(--PORTFOLIO-LINK-COLOR);
    text-decoration: none;
  }
  
  /* Grid areas */
  .p0 {
    grid-area: p0;
  }
  .p1 {
    grid-area: p1;
  }
  .p2 {
    grid-area: p2;
  }
  .p3 {
    grid-area: p3;
  }
  .p4 {
    grid-area: p4;
  }
  
  figure {
    width: 100%;
    position: relative;
    border: 5px solid var(--IMAGE-BORDER);
  }
  
  #portfolio img {
    object-fit: cover;
    width: 100%;
    filter: sepia(100%);
    opacity: 20%;
  }
  
  #portfolio img:hover,
  #portfolio figure:hover {
    filter: sepia(0%);
    opacity: 200%;
    transition: 1ms;
  }
  
  figcaption {
    background-color: var(--FIGURE-CAPTION);
    padding: 10px;
    position: absolute;
    bottom: 5%;
  }
  
  ul.bottomNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 30px;
  }
  
  .bottomNav a {
    color: var(--BOTTOM-LINK-COLOR);
    display: inline-block;
    font-size: 24px;
    margin-left: 10px;
    padding: 5px;
  }
  
/* Media Queries */

  @media screen and (max-width: 900px) {
    body 
  
    header {
      background-color: var(--HEADER-BGCOLOR);
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0;
    }
  
    header h1 {
      width: 100%;
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }
    header nav {
      padding-right: 0;
    }
    nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .topNav {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  
    .topNav a {
      color: var(--NAV--LINK-COLOR);
      font-size: 18px;
      border-bottom: 3px solid var(--NAV--LINK-BORDER-BOTTOM);
      padding: 0 5px 0px 5px;
      display: flex;
      justify-content: center;
    }
  
    .container {
      width: 95%;
      display: grid;
      grid-template-columns: 100%;
    }
  
    #portfolio {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 200px 200px 200px 200px 200px;
      grid-template-areas:
        "p0"
        "p1"
        "p2"
        "p3"
        "p4";
    }
    .page-section {
      border-right: 0;
      border-bottom: 4px solid var(--SECTION-BORDER);
    }
    h2 {
      text-align: center;
    }
  
    #portfolio img {
      height: 190px;
    }
  
    ul.bottomNav {
      padding: 0px;
      flex-direction: column;
      align-items: center;
    }
  }